<ul class="nav flex-column">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'h5p:dashboard' %}">
			<i class="fas fa-home me-2"></i> Dashboard
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'h5p:content_list' %}">
			<i class="fas fa-list me-2"></i> All Content
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'h5p:content_create' %}">
			<i class="fas fa-plus me-2"></i> Create Content
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'h5p:h5p_editor' %}">
			<i class="fas fa-pen me-2"></i> H5P Editor
		</a>
	</li>
</ul>